SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
RENDER_EXTERNAL_HOSTNAME=reqflow-ai.onrender.com
DATABASE_URL=sqlite:///db.sqlite3
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@idcare19.me
ADMIN_PASSWORD=12345678
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://reqflow-ai.onrender.com
SESSION_COOKIE_SAMESITE=Lax
CSRF_COOKIE_SAMESITE=Lax
